<!DOCTYPE html>
<html lang="en">

  <head>
    <title>TinyApp</title>
  </head>

  <body>
    <header>
        <% include ./partials/_header %>
    </header>

    <table border="1">
      <tr>
        <th>Short Key</th><th>Long Key</th><th>Options</th><th>Visit Site</th>
      </tr>
        <% for(key in urls){ %>
          <tr>
            <td><%=key%></td><td><%=urls[key]%></td>
              <%if(user_id.urls.includes(key)){%>
                <td>
                  <form method="POST" action="/urls/<%=key%>/update1">
                    <input type="submit" value="Edit" style="display:inline">
                  </form>
                  <form method="POST" action="/urls/<%=key%>?_method=DELETE">
                    <input type="submit" value="Delete" style="display:inline">
                  </form>
                </td>
              <%}else{%>
                 <td align=center>None</td>
              <%}%>
              <td>
                <form method="POST" action="/visit/<%=key%>">
                  <input type="submit" value="Visit Site" style="display:inline">
                </form>
              </td>
          </tr>
        <%}%>
      </tr>
    </table><br/><br/>

    <a href="/urls/new">Link To Shorten A New URL</a>

  </body>

</html>